wsdl/LicensePool.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:licensepool="http://licensepool.rws.pearson.com/doc/2009/04/01/"
	xmlns:serv="http://common.rws.pearson.com/doc/2008/06/01/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://licensepool.rws.pearson.com/doc/2009/04/01/"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<import namespace="http://common.rws.pearson.com/doc/2008/06/01/"
		schemaLocation="Service.xsd" />
	<simpleType name="LicensePoolIdType">
		<restriction base="string">
			<whiteSpace value="collapse" />
			<minLength value="1" />
			<maxLength value="32" />
		</restriction>
	</simpleType>
	<simpleType name="OrderLineItemIdType">
		<restriction base="string">
			<whiteSpace value="collapse" />
			<minLength value="1" />
			<maxLength value="32" />
		</restriction>
	</simpleType>
	<xsd:simpleType name="StatusType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="P" />
			<xsd:enumeration value="A" />
			<xsd:enumeration value="E" />
		</xsd:restriction>
	</xsd:simpleType>
	<simpleType name="ProductIDType">
		<restriction base="string">
			<whiteSpace value="collapse" />
			<minLength value="1" />
			<maxLength value="32" />
		</restriction>
	</simpleType>
	<simpleType name="OrganizationIDType">
		<restriction base="string">
			<whiteSpace value="collapse" />
			<minLength value="1" />
			<maxLength value="32" />
		</restriction>
	</simpleType>
	<simpleType name="DescriptionType">
		<restriction base="string">
			<whiteSpace value="collapse" />
			<minLength value="1" />
			<maxLength value="1024" />
		</restriction>
	</simpleType>
	<!---Valid Value: Seat based licensing-->
	<simpleType name="LicenseType">
		<restriction base="string">
			<whiteSpace value="collapse" />
			<minLength value="1" />
			<maxLength value="128" />
		</restriction>
	</simpleType>
	<simpleType name="QuantityType">
		<restriction base="int">
			<minInclusive value="0" />
			<maxInclusive value="2147483647" />
		</restriction>
	</simpleType>
	<simpleType name="SourceSystemType">
		<restriction base="string">
			<whiteSpace value="collapse" />
			<minLength value="1" />
			<maxLength value="128" />
		</restriction>
	</simpleType>
	<simpleType name="DenyNewSubscription">
		<restriction base="xsd:int">
			<enumeration value="1" />
			<enumeration value="0" />
		</restriction>
	</simpleType>
	<simpleType name="QualifyingLicensePool">
		<restriction base="xsd:string">
			<enumeration value="RootOnly" />
			<enumeration value="RootAndParents" />
		</restriction>
	</simpleType>
	<complexType name="UpdateUsedLicenses">
		<sequence>
			<element name="UsedLicenses" type="xsd:int" />
		</sequence>
		<xsd:attribute name="OrganizationId" type="licensepool:OrganizationIDType"
			use="optional" />
	</complexType>
	<complexType name="OrganizationDetails">
		<sequence>
			<element name="UsedLicenses" type="licensepool:QuantityType" />
			<element name="DenyNewSubscription" type="licensepool:DenyNewSubscription" />
			<element name="OrganizationLevel" type="xsd:int" />
			<element name="CreatedDate" type="xsd:dateTime" minOccurs="0" />
			<element name="LastUpdatedDate" type="xsd:dateTime"
				minOccurs="0" />
			<element name="LastUpdatedBy" type="xsd:string" minOccurs="0" />
			<element name="CreatedBy" type="xsd:string" minOccurs="0" />
		</sequence>
		<xsd:attribute name="OrganizationId" type="licensepool:OrganizationIDType"
			use="required" />
	</complexType>

	<complexType name="OrderLineItemDetails">
		<sequence>
			<element name="OrderLineItemId" type="licensepool:OrderLineItemIdType"
				minOccurs="0" />
			<element name="CreatedDate" type="xsd:dateTime" minOccurs="0" />
			<element name="LastUpdatedDate" type="xsd:dateTime"
				minOccurs="0" />
			<element name="LastUpdatedBy" type="xsd:string" minOccurs="0" />
			<element name="CreatedBy" type="xsd:string" minOccurs="0" />
		</sequence>
	</complexType>

	<complexType name="CreateLicensePool">
		<sequence>
			<element name="Type" type="licensepool:LicenseType" />
			<element name="StartDate" type="xsd:dateTime" />
			<element name="EndDate" type="xsd:dateTime" />
			<element name="Quantity" type="licensepool:QuantityType" />
			<element name="OrderLineItemId" type="licensepool:OrderLineItemIdType"
				minOccurs="0" />
			<element name="OrganizationId" type="licensepool:OrganizationIDType" />
			<element name="ProductId" type="licensepool:ProductIDType"
				maxOccurs="unbounded" />
			<element name="DenyNewSubscription" type="licensepool:DenyNewSubscription"
				minOccurs="0" />
			<element name="CreatedBy" type="xsd:string" nillable="true" />
			<element name="SourceSystem" type="licensepool:SourceSystemType" />
		</sequence>
	</complexType>
	<complexType name="UpdateLicensePool">
		<sequence>
			<element name="LicensePoolId" type="licensepool:LicensePoolIdType" />
			<element name="OrderLineItemId" type="licensepool:OrderLineItemIdType"
				minOccurs="0" />
			<element name="StartDate" type="xsd:dateTime" minOccurs="0" />
			<element name="EndDate" type="xsd:dateTime" minOccurs="0" />
			<element name="Quantity" type="xsd:int" minOccurs="0" />
			<!-- If this is set to -X, usedlicenses= usedLcienses-X-->
			<element name="UsedLicenses" type="licensepool:UpdateUsedLicenses"
				minOccurs="0" />

		</sequence>
	</complexType>
	<complexType name="GetLicensePoolByOrganizationIdRequestType">
		<sequence>
			<element name="OrganizationId" type="licensepool:OrganizationIDType" />
			<element name="QualifyingLicensePool" type="licensepool:QualifyingLicensePool" />
		</sequence>
	</complexType>
	<complexType name="GetLicensePoolToSubscribeRequestType">
		<sequence>
			<element name="OrganizationId" type="licensepool:OrganizationIDType" />
			<element name="ProductId" type="licensepool:ProductIDType" />
		</sequence>
	</complexType>
	<complexType name="LicensePoolByOrganizationId">
		<sequence>
			<element name="ProductId" type="licensepool:ProductIDType"
				maxOccurs="unbounded" />
			<element name="LicensePoolId" type="licensepool:LicensePoolIdType" />
			<element name="Status" type="licensepool:StatusType" />
			<element name="RootOrganizationId" type="xsd:string" />
			<element name="Type" type="licensepool:LicenseType" />
			<element name="StartDate" type="xsd:dateTime" />
			<element name="EndDate" type="xsd:dateTime" />
			<element name="Quantity" type="licensepool:QuantityType" />
			<element name="UsedLicenses" type="xsd:int" />
			<element name="DenyNewSubscription" type="licensepool:DenyNewSubscription" />
		</sequence>
	</complexType>
	<complexType name="LicensePoolToSubscribeType">
		<sequence>
			<element name="LicensePoolId" type="licensepool:LicensePoolIdType" />
			<element name="StartDate" type="xsd:dateTime" />
			<element name="EndDate" type="xsd:dateTime" />
		</sequence>
	</complexType>

	<xsd:complexType name="OrderListType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1"
				name="OrderLineItem" type="licensepool:OrderLineItemDetails" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="QualifyingOrganizationListType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1"
				name="QualifyingOrganization" type="licensepool:OrganizationDetails" />
		</xsd:sequence>
	</xsd:complexType>

	<element name="GetLicensePoolByOrganizationIdRequest">
		<complexType>
			<sequence>
				<element name="GetLicensePoolByOrganizationIdRequestType"
					type="licensepool:GetLicensePoolByOrganizationIdRequestType"
					nillable="true" />
			</sequence>
		</complexType>
	</element>
	<element name="GetLicensePoolToSubscribeRequest">
		<complexType>
			<sequence>
				<element name="GetLicensePoolToSubscribeRequestType"
					type="licensepool:GetLicensePoolToSubscribeRequestType" nillable="true" />
			</sequence>
		</complexType>
	</element>
	<element name="LicensePoolToSubscribe">
		<complexType>
			<sequence>
				<element name="LicensePoolToSubscribeType" type="licensepool:LicensePoolToSubscribeType"
					nillable="true" />
			</sequence>
		</complexType>
	</element>
	<element name="LicensepoolsByOrganizationId">
		<complexType>
			<sequence>
				<element name="LicensePoolByOrganizationId" type="licensepool:LicensePoolByOrganizationId"
					nillable="true" minOccurs="0" maxOccurs="unbounded" />
			</sequence>
		</complexType>
	</element>
	<element name="CreateLicensePoolRequest">
		<complexType>
			<sequence>
				<element name="CreateLicensePool" type="licensepool:CreateLicensePool"
					nillable="true" />
			</sequence>
		</complexType>
	</element>
	<element name="CreateLicensePoolResponse">
		<complexType>
			<sequence>
				<element name="ServiceResponseType" type="serv:ServiceResponseType"
					nillable="true" />
			</sequence>
		</complexType>
	</element>
	<element name="UpdateLicensePoolRequest">
		<complexType>
			<sequence>
				<element name="UpdateLicensePool" type="licensepool:UpdateLicensePool"
					nillable="true" />
			</sequence>
		</complexType>
	</element>
	<element name="UpdateLicensePoolResponse">
		<complexType>
			<sequence>
				<element name="ServiceResponseType" type="serv:ServiceResponseType"
					nillable="true" />
			</sequence>
		</complexType>
	</element>
	<complexType name="LicensePoolException">
		<sequence>
			<element name="message" type="xsd:string" nillable="true" />
		</sequence>
	</complexType>
	<complexType name="LicensePoolDetails">
		<sequence>
			<element name="LicensePoolId" type="licensepool:LicensePoolIdType" />
			<element name="Type" type="licensepool:LicenseType" />
			<element name="StartDate" type="xsd:dateTime" />
			<element name="EndDate" type="xsd:dateTime" />
			<element name="Status" type="licensepool:StatusType" />
			<element name="Quantity" type="licensepool:QuantityType" />
			<element name="UsedLicenses" type="licensepool:QuantityType" />
			<element name="SourceSystem" type="licensepool:SourceSystemType" />
			<element name="DenyNewSubscription" type="licensepool:DenyNewSubscription" />
			<element name="CreatedDate" type="xsd:dateTime" minOccurs="0" />
			<element name="LastUpdatedDate" type="xsd:dateTime"
				minOccurs="0" />
			<element name="LastUpdatedBy" type="xsd:string" minOccurs="0" />
			<element name="CreatedBy" type="xsd:string" minOccurs="0" />
			<element name="ProductId" type="licensepool:ProductIDType"
				maxOccurs="unbounded" />
			<element name="QualifyingOrganizations" type="licensepool:QualifyingOrganizationListType" />
			<element name="OrderLineItems" type="licensepool:OrderListType"
				maxOccurs="unbounded" minOccurs="0" />
		</sequence>
	</complexType>
	<element name="GetLicensePoolDetailsByIdRequest">
		<complexType>
			<sequence>
				<element name="LicensePoolId" type="licensepool:LicensePoolIdType"
					nillable="false" />
			</sequence>
		</complexType>
	</element>
	<element name="GetLicensePoolDetailsByIdResponse">
		<complexType>
			<sequence>
				<element name="LicensePool" type="licensepool:LicensePoolDetails"
					maxOccurs="1" minOccurs="0" />
			</sequence>
		</complexType>
	</element>
	<element name="DenyNewSubscriptionsRequest">
		<complexType>
			<sequence>
				<element name="LicensePoolId" type="licensepool:LicensePoolIdType"
					nillable="false" />
				<element name="CreatedBy" type="xsd:string" minOccurs="0" />
			</sequence>
			<xsd:attribute name="DenyNewSubscription" type="licensepool:DenyNewSubscription"
				use="required" />
		</complexType>
	</element>
	<element name="DenyNewSubscriptionsResponse">
		<complexType>
			<sequence>
				<element name="ServiceResponseType" type="serv:ServiceResponseType"
					nillable="true" />
			</sequence>
		</complexType>
	</element>
	<element name="LicensePoolExceptionElement" type="licensepool:LicensePoolException"
		nillable="true" />
</schema>
